$purple: #8D53FF;
$pink: #CA6BE6;
$white: #f8f8f8;
$dark: #1f1f1f;
$red: #f72116;
$yellow: #ffaa00;
$green: #1ce43a;
$lightgray: #69b2e3;


$transition: all 250ms ease;




.shadowed {
  box-shadow: 0 .5rem 1rem #000000;
  // animation: animateShadow 4s infinite;
}

